{% extends 'master.html' %}


{% block title %}
Portfolio - {{ block.super }}
{% endblock %}


{% load static %}
{% block css %}
<!-- code here. -->
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}


{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        {% for i in portfolios %}
        <div class="col-sm-3">
            <div class="card mb-3">
                <div class="card-header bg-dark text-white text-center"> SECURITYCODE:
                    <span style="color: greenyellow;">
                        {{i.securitycode}}
                    </span>
                </div>
                <div class="card-body">
                    <p>LOCALMARKETAMOUNT: {{i.amount}}</p>
                    <p>Percent: {{i.percent}}</p>
                    <p>FundType: {{i.fundType}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}