{% extends 'master.html' %}


{% block title %}
Profiles - {{ block.super }}
{% endblock %}


{% load static %}
{% block css %}
<!-- code here. -->
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/color.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
{% endblock %}


{% block content %}

<section class="main">

    <div>
        <p class="mt-sm-3 head-page-size">Customer Profile</p>
    </div>

    <div class="row mt-sm-3">

        <div class="col-sm-3 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-header bg-head-page head-card-size">
                    Unitholder ID
                </div>
                <div class="card-body body-card-size">
                    {{customers.unitholderIdreferenceNo}}
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-header bg-head-page head-card-size">
                    Investor Type
                </div>
                <div class="card-body body-card-size">
                    Individual
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-header bg-head-page head-card-size">
                    Account Type
                </div>
                <div class="card-body body-card-size">
                    {{customers.accountType}}
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xl-3">
            <div class="card shadow-sm">
                <div class="card-header bg-head-page head-card-size">
                    Open Account Date
                </div>
                <div class="card-body body-card-size">
                    15/07/2021
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6 col-xl-6">
            <div>
                <p class="mt-4 sub-page-size">Suitability</p>
            </div>

            <div class="row mt-sm-3">

                <div class="col-sm-6 col-xl-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-head-page head-card-size">
                            Risk Level (Very High)
                        </div>
                        <div class="card-body body-card-size">
                            {{customers.riskProfileLevel}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-head-page head-card-size">
                            Evaluate Date
                        </div>
                        <div class="card-body body-card-size">
                            {{customers.suitabilityTestDate}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-xl-6">
            <div>
                <h3 class="mt-4 sub-page-size">CDD Score</h3>
            </div>

            <div class="row mt-sm-3">

                <div class="col-sm-6 col-xl-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-head-page head-card-size">
                            CDD Score (Moderate)
                        </div>
                        <div class="card-body body-card-size">
                            2
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-head-page head-card-size">
                            CDD Review Date
                        </div>
                        <div class="card-body body-card-size">
                            15/07/2021
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Toggleable Tabs -->
    <ul class="nav nav-tabs mt-5 col-sm-12 col-lg-12" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#personal">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#background">Background</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#address">Address</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content col-sm-12 col-lg-12 mb-3 shadow-sm">

        <!-- Personal -->
        <div id="personal" class="container tab-pane fade show active"><br>

            <p class="sub-page-size">ID/Passport</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size">ID Type: <span class="p-body-card-size-tail">ID Card</span></p>
                    <p class="p-body-card-size">ID No: <span class="p-body-card-size-tail">{{customers.idno}}</span></p>
                    <p class="p-body-card-size">Expiry Date (A.D.): <span
                            class="p-body-card-size-tail">{{customers.birthDate}}</span></p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Personal Information</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size">Title: <span class="p-body-card-size-tail">{{customers.titleEn}}</span>
                    </p>
                    <p class="p-body-card-size">Name-Surname: <span
                            class="p-body-card-size-tail">{{customers.firstNameEn}} {{customers.lastNameEn}}</span>
                    </p>
                    <p class="p-body-card-size">Date of Birth (A.D.): <span
                            class="p-body-card-size-tail">{{customers.idexpiryDate}}</span></p>
                    <p class="p-body-card-size">Nationality: <span
                            class="p-body-card-size-tail">{{customers.nationalityRegisterCountry}}</span></p>
                    <p class="p-body-card-size">Mobile: <span class="p-body-card-size-tail">{{customers.mobile}}</span>
                    </p>
                    <p class="p-body-card-size">Marital Status: <span
                            class="p-body-card-size-tail">{{customers.marriedStatus}}</span>
                    </p>
                    <p class="p-body-card-size">E-mail: <span class="p-body-card-size-tail">{{customers.email}}</span>
                    </p>
                    <p class="p-body-card-size">Application Form: <span class="p-body-card-size-tail">Single
                            Form</span></p>
                    <p class="p-body-card-size">NDID: <span class="p-body-card-size-tail">{{customers.ndidflag}}</span>
                    </p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Spouse Information</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    {% if customers.spouseFirstNameEn == None %}
                    <p class="p-body-card-size">Name-Surname: <span class="p-body-card-size-tail">-</span>
                    </p>
                    {% else %}
                    <p class="p-body-card-size">Name-Surname: <span
                            class="p-body-card-size-tail">{{customers.spouseFirstNameEn}}
                            {{customers.spouseLastNameEn}}</span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Background -->
        <div id="background" class="container tab-pane fade"><br>
            <p class="sub-page-size">Occupation</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.occupationDesc}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Business Type</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.businessTypeDesc}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Country's Source of income / Investment Fund</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.incomeSourceCountry}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Source of Income</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.incomeTypeCode}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Monthly Income (Baht)</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.incomeId}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Are you a politician or connected to any political person?</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.politicianFlag}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Do you accept foreign exchange rate risk?</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.fxriskFlag}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Do you accept the risk from investment in derivatives
                and structure note?</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.futuresRiskFlag}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Declaration of Status as a U.S. Person?</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.fatcaflag}}</p>
                </div>
            </div>

        </div>

        <!-- Account -->
        <div id="account" class="container tab-pane fade"><br>
            <p class="sub-page-size">Mailing Address</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">{{customers.mailingMethod}}</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Mailing Method</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">Email</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Investment Objective</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">For Investment, For Tax Benefits</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">End Beneficiary</p>
            <div class="border-content shadow-sm">
                <div class="">
                    <p class="p-body-card-size-tail">Account Owner</p>
                </div>
            </div>

            <p class="sub-page-size mt-5">Bank Account</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>AMC</th>
                                <th>Unitholder ID</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="btn accordion-toggle collapsed" data-bs-toggle="collapse"
                                        href="#account-detail"></a></td>
                                <td>KTAM</td>
                                <td>66600000040</td>
                                <td>Omnibus</td>
                            </tr>
                            <tr class="accordion-toggle collapse bg-table" id="account-detail">
                                <td colspan="4">
                                    <h5 class="mt-3">Unitholder Bank Account</h5>
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Acc. for</th>
                                                        <th>Bank</th>
                                                        <th>Branch</th>
                                                        <th>Account No.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>SUB</td>
                                                        <td>BBL</td>
                                                        <td>0010 สาขาบิ๊กซี พระราม 2</td>
                                                        <td>1095556669</td>
                                                    </tr>
                                                    <tr>
                                                        <td>RED</td>
                                                        <td>KBANK</td>
                                                        <td>0342 สาขาถนนพระรามที่ 2 (เคหะธนบุรี 3)</td>
                                                        <td>6495556669</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a class="btn accordion-toggle collapsed" data-bs-toggle="collapse"
                                        href="#account-detail"></a></td>
                                <td>XSpringAM</td>
                                <td>0145825</td>
                                <td>Segregate</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <p class="p-body-card-size">For Investment, For Tax Benefits</p> -->
                </div>
            </div>
        </div>

        <!-- Address -->
        <div id="address" class="container tab-pane fade"><br>

            <!-- Identification -->
            <p class="sub-page-size">Identification</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <p class="p-body-card-size">Address No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentAddressNo}}</span>
                    </p>
                    <p class="p-body-card-size">Moo: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentMoo}}</span>
                    </p>
                    <p class="p-body-card-size">Place: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentPlace}}</span>
                    </p>
                    <p class="p-body-card-size">Room No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentRoomNo}}</span>
                    </p>
                    <p class="p-body-card-size">Floor: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentFloor}}</span>
                    </p>
                    <p class="p-body-card-size">Soi: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentSoi}}</span>
                    </p>
                    <p class="p-body-card-size">Road: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentRoad}}</span>
                    </p>
                    <p class="p-body-card-size">Tambon: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentTambon}}</span>
                    </p>
                    <p class="p-body-card-size">Amphur: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentAmphur}}</span>
                    </p>
                    <p class="p-body-card-size">Province: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentProvince}}</span>
                    </p>
                    <p class="p-body-card-size">Postal Code: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentPostalCode}}</span>
                    </p>
                    <p class="p-body-card-size">Country: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentCountry}}</span>
                    </p>
                    <p class="p-body-card-size">Phone: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.identificationDocumentPhone}}</span>
                    </p>
                </div>
            </div>

            <!-- Current -->
            <p class="sub-page-size mt-5">Current</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <p class="p-body-card-size">Address No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentAddressNo}}</span>
                    </p>
                    <p class="p-body-card-size">Moo: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentMoo}}</span>
                    </p>
                    <p class="p-body-card-size">Place: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentPlace}}</span>
                    </p>
                    <p class="p-body-card-size">Room No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentRoomNo}}</span>
                    </p>
                    <p class="p-body-card-size">Floor: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentFloor}}</span>
                    </p>
                    <p class="p-body-card-size">Soi: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentSoi}}</span>
                    </p>
                    <p class="p-body-card-size">Road: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentRoad}}</span>
                    </p>
                    <p class="p-body-card-size">Tambon: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentTambon}}</span>
                    </p>
                    <p class="p-body-card-size">Amphur: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentAmphur}}</span>
                    </p>
                    <p class="p-body-card-size">Province: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentProvince}}</span>
                    </p>
                    <p class="p-body-card-size">Postal Code: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentPostalCode}}</span>
                    </p>
                    <p class="p-body-card-size">Country: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.currentCountry}}</span>
                    </p>
                </div>
            </div>

            <!-- Workplace -->
            <p class="sub-page-size mt-5">Workplace</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <p class="p-body-card-size">Company Name: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workplaceName}}</span>
                    </p>
                    <p class="p-body-card-size">Position: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workPosition}}</span>
                    </p>
                    <p class="p-body-card-size">Address No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workAddressNo}}</span>
                    </p>
                    <p class="p-body-card-size">Moo: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workMoo}}</span></p>
                    <p class="p-body-card-size">Place: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workPlace}}</span></p>
                    <p class="p-body-card-size">Room No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workRoomNo}}</span>
                    </p>
                    <p class="p-body-card-size">Floor: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workFloor}}</span></p>
                    <p class="p-body-card-size">Soi: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workSoi}}</span></p>
                    <p class="p-body-card-size">Road: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workRoad}}</span></p>
                    <p class="p-body-card-size">Tambon: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workTambon}}</span>
                    </p>
                    <p class="p-body-card-size">Amphur: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workAmphur}}</span>
                    </p>
                    <p class="p-body-card-size">Province: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workProvince}}</span>
                    </p>
                    <p class="p-body-card-size">Postal Code: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workPostalCode}}</span>
                    </p>
                    <p class="p-body-card-size">Country: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.workCountry}}</span>
                    </p>
                </div>
            </div>

            <!-- Mailing -->
            <p class="sub-page-size mt-5">Mailing</p>
            <div class="border-content shadow-sm mb-3">
                <div class="">
                    <p class="p-body-card-size">Address No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingAddressNo}}</span>
                    </p>
                    <p class="p-body-card-size">Moo: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingMoo}}</span>
                    </p>
                    <p class="p-body-card-size">Place: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingPlace}}</span>
                    </p>
                    <p class="p-body-card-size">Room No: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingRoomNo}}</span>
                    </p>
                    <p class="p-body-card-size">Floor: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingFloor}}</span>
                    </p>
                    <p class="p-body-card-size">Soi: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingSoi}}</span>
                    </p>
                    <p class="p-body-card-size">Road: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingRoad}}</span>
                    </p>
                    <p class="p-body-card-size">Tambon: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingTambon}}</span>
                    </p>
                    <p class="p-body-card-size">Amphur: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingAmphur}}</span>
                    </p>
                    <p class="p-body-card-size">Province: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingProvince}}</span>
                    </p>
                    <p class="p-body-card-size">Postal Code: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingPostalCode}}</span>
                    </p>
                    <p class="p-body-card-size">Country: <span
                            class="p-body-card-size-tail">{{customers.fcnCustomerProfileAddress.0.mailingCountry}}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>
{% endblock %}